<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <link href="/static/index.css" rel="stylesheet">

</head>

<body>
<nav class="navbar">
    <a class="navbar-links" href="/userHome">simply.cs</a>
    <nav class="ml-auto">
        <a class="navbar-links" href="/Logout">logout</a>
    </nav>

</nav>

    <div class="title text-center">
        simply.cs
        <p id="subtitle">simply computer science, simply crowd-sourced</p>
    </div>
        <div class="main text-center">
            <div class="row">
                <div class="col-md-4 test text-center">
                    <img src="/static/my-icons-collection/png/calendar%20(1).png" width = "100", height = "100">
                    <a class="text-center categories" href="#">EVENTS</a>
                    <a class="text-center subcategories" href="#">CONFERENCES</a>
                    <a class="text-center subcategories" href="#">HACKATHONS</a>
                    <a class="text-center subcategories" href="#">MEET UPS</a>
                </div>
                <div class="col-md-4 test text-center">
                                        <img src="/static/my-icons-collection/png/programmer.png" width = "100", height = "100">
                    <a class="text-center categories" href="#">JOBS</a>
                    <a class="text-center subcategories" href="/Internships">INTERNSHIPS</a>
                    <a class="text-center subcategories" href="#">FULL TIMES</a>
                </div>
                <div class="col-md-4 test text-center">
                                        <img src="/static/my-icons-collection/png/open-book.png" width = "100", height = "100">
                    <a class="text-center categories" href="#">RESOURCES</a>
                    <a class="text-center subcategories" href="#">INTERVIEWS</a>
                    <a class="text-center subcategories" href="#">PROJECTS</a>
                    <a class="text-center subcategories" href="#">DATA STRUCTURES</a>
                </div>
            </div>
        </div>
</body>

</html>